In [4]:
import pandas as pd

In [5]:
xl = pd.ExcelFile("WDIdata3decades.xlsx")
xl.sheet_names

['WDIdata3decades']

In [23]:
df = xl.parse('WDIdata3decades')
df.head()

,Custom_Time_Code,Country Code,PA.NUS.PPP.05,PA.NUS.PRVT.PP.05,EG.CFT.ACCS.ZS,EG.ELC.ACCS.ZS,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,FX.OWN.TOTL.ZS,FX.OWN.TOTL.FE.ZS,...,SG.DMK.ALLD.FN.ZS,SG.VAW.REAS.ZS,SG.VAW.ARGU.ZS,SG.VAW.BURN.ZS,SG.VAW.GOES.ZS,SG.VAW.NEGL.ZS,SG.VAW.REFU.ZS,SP.M15.2024.FE.ZS,SP.M18.2024.FE.ZS,SH.DYN.AIDS.FE.ZS
0,1990s,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.80
1,1990s,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.07
2,1990s,BDI,NaN,NaN,NaN,3.329940,NaN,55.587460,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.68
3,1990s,BEN,NaN,NaN,NaN,17.179928,3.090880,40.592266,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.80,38.8,52.57
4,1990s,BFA,NaN,NaN,NaN,6.545372,0.943943,35.843561,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.75,62.0,47.59

In [24]:
columns = ['SI.POV.GINI', 'SI.POV.GAPS', 'SI.POV.LMIC.GP', 'SI.POV.UMIC.GP',
       'SI.POV.NAGP', 'SI.POV.DDAY', 'SI.POV.LMIC', 'SI.POV.UMIC',
       'SI.POV.NAHC', 'SI.POV.RUGP', 'SI.POV.RUHC', 'SI.POV.URGP',
       'SI.POV.URHC','Custom_Time_Code' , 'Country Code']
pov_df = df[columns]

In [26]:
pov_df.head()

,SI.POV.GINI,SI.POV.GAPS,SI.POV.LMIC.GP,SI.POV.UMIC.GP,SI.POV.NAGP,SI.POV.DDAY,SI.POV.LMIC,SI.POV.UMIC,SI.POV.NAHC,SI.POV.RUGP,SI.POV.RUHC,SI.POV.URGP,SI.POV.URHC,Custom_Time_Code,Country Code
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990s,AFG
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990s,AGO
2,37.8,40.8,61.1,76.20,NaN,82.60,95.05,98.45,NaN,NaN,NaN,NaN,NaN,1990s,BDI
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990s,BEN
4,49.0,45.7,63.0,76.35,NaN,82.35,92.05,96.75,NaN,NaN,NaN,NaN,NaN,1990s,BFA

In [32]:
print(pov_df.groupby(['Country Code']).head())

     SI.POV.GINI  SI.POV.GAPS  SI.POV.LMIC.GP  SI.POV.UMIC.GP  SI.POV.NAGP  \
0            NaN          NaN             NaN             NaN          NaN
1            NaN          NaN             NaN             NaN          NaN
2          37.80        40.80            61.1           76.20          NaN
3            NaN          NaN             NaN             NaN          NaN
4          49.00        45.70            63.0           76.35          NaN
..           ...          ...             ...             ...          ...
232        36.25         0.60             3.3           12.55          4.5
233        37.60         3.20            12.7           31.60          NaN
234        36.70         4.50            17.3           39.30          NaN
235        56.35        30.55            46.5           62.15          NaN
236        43.20         5.20            17.3           36.10          NaN

     SI.POV.DDAY  SI.POV.LMIC  SI.POV.UMIC  SI.POV.NAHC  SI.POV.RUGP  \
0            NaN          NaN          NaN          NaN          NaN
1            NaN          NaN          NaN          NaN          NaN
2         82.600       95.050       98.450          NaN          NaN
3            NaN          NaN          NaN          NaN          NaN
4         82.350       92.050       96.750          NaN          NaN
..           ...          ...          ...          ...          ...
232        2.925       12.625       38.525        15.30          5.9
233       13.100       39.200       72.300        12.70          NaN
234       18.800       52.200       81.600        48.60          NaN
235       60.950       77.000       88.850        54.55          NaN
236       21.400       47.200       74.000        71.15          NaN

     SI.POV.RUHC  SI.POV.URGP  SI.POV.URHC Custom_Time_Code Country Code
0            NaN          NaN          NaN            1990s          AFG
1            NaN          NaN          NaN            1990s          AGO
2            NaN          NaN          NaN            1990s          BDI
3            NaN          NaN          NaN            1990s          BEN
4            NaN          NaN          NaN            1990s          BFA
..           ...          ...          ...              ...          ...
232        20.35          1.0          4.6            2010s          VNM
233          NaN          NaN          NaN            2010s          VUT
234          NaN          NaN          NaN            2010s          YEM
235          NaN          NaN          NaN            2010s          ZMB
236          NaN          NaN          NaN            2010s          ZWE

[237 rows x 15 columns]